# ─── Base de Dados ───
# Instância local PostgreSQL (já criada)
DATABASE_URL="postgresql://postgres:root@localhost:5432/GameHubPessoal?schema=public"

# ─── Redis ───
REDIS_URL="redis://localhost:6379"

# ─── APIs Externas ───
RAWG_API_KEY="29e65053798f4c21bb955ccadb5cd604"
STEAM_API_KEY="9980A0171E09AEB081CDA0F76F8AF856"

# ─── Servidor ───
PORT=3001
NODE_ENV="development"
CORS_ORIGIN="http://localhost:5173"

# ─── Frontend ───
VITE_API_URL="http://localhost:3001"
